.kk {
	width: 100% px;
	height: 0;
	background-color: rgb(247, 247, 247);
}

.shang {
	width: 100% px;
	height: 190px;
	background-image: url("../img_store/store1/shop-bg.0391dd.jpg");
}

.shang1 {
	width: 100% px;
	height: 48px;
}

.shang2 {
	width: 100% px;
	height: 140px;
}

.shang2-1 {
	width: 480px;
	height: 142px;
	margin-left: 110px;
}

.shang2-2 {
	width: 95px;
	height: 95px;
	border-radius: 50px;
	background-size: 95px 95px;
	vertical-align: middle;
	margin-top: 15px;
}

.shang2-3 {
	width: 214px;
	height: 55px;
	margin-left: 13px;
	margin-top: -150px;
	color: #fff;
	font-size: 18px;
}

.shang2-3 p {
	margin-top: 9px;
	font-size: 16px;
	color: #ffc30c;
}

.shang2-3 h6 {
	margin-left: 85px;
	margin-top: -35px;
	font-size: 14px;
}

.shang2-4 {
	width: 50px;
	height: 63px;
	margin-left: 698px;
	margin-top: -58px;
	font-size: 15px;
	color: #fff;
}

.shang2-4 p {
	font-size: 16px;
	margin-left: 8px;
}

.shang2-5 {
	width: 80px;
	height: 63px;
	margin-left: 844px;
	margin-top: -65px;
	font-size: 15px;
	color: #fff;
}

.shang2-5 span {
	margin-left: 14px;
}

.shang2-5 p {
	font-size: 16px;
}

.shang2-6 {
	width: 120px;
	height: 63px;
	margin-left: 966px;
	margin-top: -65px;
	font-size: 15px;
	color: #fff;
}

.shang2-6 span {
	margin-left: 23px;
}

.shang2-6 p {
	margin-left: 41px;
	margin-top: 15px;
	font-size: 17px;
}

.zhong {
	width: 100% px;
	height: 58px;
	background-color: #fff;
}

.zhong1 {
	width: 112px;
	height: 40px;
	border-bottom: 3px solid #0089dc;
	margin-left: 110px;
	cursor: pointer;
}

.zhong1 p {
	position: relative;
	font-size: 16px;
	margin-left: 22px;
	color: #0089dc;
}

.zhong1 span {
	margin-left: 16px;
	color: black;
}

.zhong1-2 {
	width: 112px;
	height: 40px;
	border-bottom: 3px solid #0089dc; /*aaa*/
	margin-left: 225px;
	margin-top: -59px;
	cursor: pointer;
}

.zhong1-2 p {
	position: relative;
	font-size: 16px;
	margin-left: 23px;
}

.zhong1-2 span {
	margin-left: 52px;
}

.zhong1-3 {
	width: 112px;
	height: 40px;
	border-bottom: 3px solid #0089dc; /*aaa*/
	margin-left: 341px;
	margin-top: -59px;
	cursor: pointer;
}

.zhong1-3 p {
	position: relative;
	font-size: 16px;
	margin-left: 24px;
}

.zhong1-4 {
	width: 390px;
	height: 57px;
	float: right;
	margin-top: -59px;
	margin-right: 426px;
}

.zhong1-5 {
	width: 75px;
	height: 57px;
}

.zhong1-5 p {
	font-size: 12px;
	position: relative;
	text-align: center;
	margin-top: 23px;
	color: #0089dc;
}

.zhong1-5 b {
	float: right;
}

.zhong1-6 {
	width: 70px;
	height: 57px;
	margin-left: 77px;
	margin-top: -59px;
}

.zhong1-6 span {
	font-size: 12px;
	margin-left: 21px;
}

.zhong1-6 img {
	margin-left: 1px;
	margin-top: 19px;
}

.zhong1-7 {
	width: 70px;
	height: 57px;
	margin-left: 149px;
	margin-top: -59px;
}

.zhong1-7 span {
	font-size: 12px;
	margin-left: 21px;
}

.zhong1-7 img {
	margin-left: 1px;
	margin-top: 19px;
}

.zhong1-8 {
	width: 70px;
	height: 57px;
	margin-left: 221px;
	margin-top: -59px;
}

.zhong1-8 span {
	font-size: 12px;
	margin-left: 21px;
}

.zhong1-8 img {
	margin-left: 1px;
	margin-top: 19px;
}

.zhong1-9 {
	width: 64px;
	height: 57px;
	float: right;
	margin-top: -60px;
	margin-right: 447px;
}

.zhong1-9 img {
	width: 32px;
	height: 27px;
	margin-top: 18px;
	background-color: #fff;
	border-color: blue;
	z-index: 1;
}

.zhong1-10 input {
	width: 284px;
	height: 24px;
	float: right;
	margin-top: -43px;
	margin-right: 117px;
}

.zhong1-11 {
	width: 50px;
	position: relative;
	top: -43px;
	right: -1260px;
}

.zhong2 {
	width: 885px;
	height: 128px;
	border: 1px solid green;
	margin-left: 110px;
	margin-top: 20px;
	background-color: #fff; <!--
	position: fixed;
	-->
}

.zhong2 li {
	text-decoration: none;
	width: 87px;
	height: 30px;
	list-style: none;
	font-size: 15px;
	float: left;
	margin-left: 65px;
	color: #666;
}

.zhong2-1:hover, .zhong2-2:hover, .zhong2-3:hover, .zhong2-4:hover,
	.zhong2-5:hover, .zhong2-6:hover, .zhong2-7:hover, .zhong2-8:hover,
	.zhong2-9:hover, .zhong2-10:hover, .zhong2-11:hover {
	background-color: #f7f7f7;
}

.zhong3 {
	width: 280px;
	height: 193px;
	margin-left: 910px;
	margin-top: -17px;
}

.zhong3-1 {
	width: 280px;
	height: 45px;
	background-color: #0089dc;
	color: #fff;
}

.zhong3-1 p {
	margin-left: 15px;
	font-size: 17px;
}

.zhong3-2 {
	width: 280px;
	height: 148px;
	background-color: #fff;
}

.zhong3-2 p {
	font-size: 14px;
	padding: 0px;
	line-height: 2;
}

.zhong4 {
	width: 280px;
	height: 44px;
	margin-left: 911px;
	margin-top: 25px;
}

.zhong4 span {
	font-size: 14px;
	margin-left: 18px;
}

.zhong4 p {
	margin-left: 18px;
	margin-top: 5px;
}

.zhong5 {
	width: 280px;
	height: 100px;
	margin-left: 1022px;
	margin-top: 158px;
	background-color: #fff;
}

.zhong5-1 {
	width: 280px;
	height: 43px;
	font-size: 17px;
}

.zhong5-2 {
	width: 280px;
	height: 55px;
}

.zhong5-2 p {
	display: block;
	text-align: center;
	font-size: 18px;
}

.zhong5-2 a {
	text-decoration: none;
	color: #666;
}

.zhong5-2 p:hover {
	cursor: pointer;
}

.zhong6 {
	width: 885px;
	height: 60px;
	margin-left: 110px;
	margin-top: -261px;
}

.zhong6 p {
	font-size: 20px;
	margin-left: 20px;
}

.zhong6 h6 {
	margin-left: 70px;
	margin-top: -41px;
	font-size: 15px;
}

.zhong7 {
	width: 885px;
	height: 102px;
	margin-left: 110px;
	background-color: #fff;
}

.zhong7-1 {
	width: 435px;
	height: 102px;
	
}
.zhong7 div{
	float: left;
}
.zhong7-1 img {
	width: 100px;
	height: 100px;
}

.zhong7-1 h6 {
	margin-top: -21px;
	margin-right: 156px;
	float: right;
	font-size: 13px;
	color: #666;
}

.zhong7-1 p {
	display: block;
	margin-left: 100px;
	margin-top: -92px;
	font-size: 17px;
}

.zhong7-1-1 {
	margin-left: 97px;
	margin-top: -14px;
	font-size: 16px;
	color: #ffc30c;
}

.zhong7-1-2 {
	margin-left: 102px;
	margin-top: 11px;
	color: #f74342;
	font-size: 19px;
}

.zhong7-1 input {
	margin-right: 16px;
	margin-top: -31px;
	width: 90px;
	height: 26px;
	float: right;
	display: inline-block;
	background-color: #0089dc;
	color: #fff;
	border-radius: 50px;
	border: 1px solid #0089dc;
}

.zhong7-2 {
	width: 435px;
	height: 102px;
	float: right;
	margin-top: -105px;
}

.zhong7-2 img {
	width: 100px;
	height: 100px;
}

.zhong7-2 h6 {
	margin-top: -21px;
	margin-right: 156px;
	float: right;
	font-size: 13px;
	color: #666;
}

.zhong7-2 p {
	display: block;
	margin-left: 100px;
	margin-top: -92px;
	font-size: 17px;
}

.zhong7-2-1 {
	margin-left: 97px;
	margin-top: -14px;
	font-size: 16px;
	color: #ffc30c;
}

.zhong7-2-2 {
	margin-left: 102px;
	margin-top: 11px;
	color: #f74342;
	font-size: 19px;
}

.zhong7-2 input {
	margin-right: 20px;
	margin-top: -31px;
	width: 90px;
	height: 26px;
	float: right;
	display: inline-block;
	background-color: #0089dc;
	color: #fff;
	border-radius: 50px;
	border: 1px solid #0089dc;
}

.zhong8 {
	width: 885px;
	height: 102px;
	margin-left: 110px;
	background-color: #fff;
	margin-top: 15px;
}

.zhong8-1 {
	width: 435px;
	height: 102px;
}

.zhong8-1 img {
	width: 100px;
	height: 100px;
}

.zhong8-1 h6 {
	margin-top: -21px;
	margin-right: 156px;
	float: right;
	font-size: 13px;
	color: #666;
}

.zhong8-1 p {
	display: block;
	margin-left: 100px;
	margin-top: -92px;
	font-size: 17px;
}

.zhong8-1-1 {
	margin-left: 97px;
	margin-top: -14px;
	font-size: 16px;
	color: #ffc30c;
}

.zhong8-1-2 {
	margin-left: 102px;
	margin-top: 11px;
	color: #f74342;
	font-size: 19px;
}

.zhong8-1 input {
	margin-right: 16px;
	margin-top: -31px;
	width: 90px;
	height: 26px;
	float: right;
	display: inline-block;
	background-color: #0089dc;
	color: #fff;
	border-radius: 50px;
	border: 1px solid #0089dc;
}

.zhong8-2 {
	width: 435px;
	height: 102px;
	float: right;
	margin-top: -105px;
}

.zhong8-2 img {
	width: 100px;
	height: 100px;
}

.zhong8-2 h6 {
	margin-top: -21px;
	margin-right: 156px;
	float: right;
	font-size: 13px;
	color: #666;
}

.zhong8-2 p {
	display: block;
	margin-left: 100px;
	margin-top: -92px;
	font-size: 17px;
}

.zhong8-2-1 {
	margin-left: 97px;
	margin-top: -14px;
	font-size: 16px;
	color: #ffc30c;
}

.zhong8-2-2 {
	margin-left: 102px;
	margin-top: 11px;
	color: #f74342;
	font-size: 19px;
}

.zhong8-2 input {
	margin-right: 20px;
	margin-top: -31px;
	width: 90px;
	height: 26px;
	float: right;
	display: inline-block;
	background-color: #0089dc;
	color: #fff;
	border-radius: 50px;
	border: 1px solid #0089dc;
}

.goods {
	width: 320px;
	/* 46 45 18 */
	position: fixed;
	/* top: 542px; */
	top:142px;
	right: -1px;
	
	border: 1px solid #0089dc;
}
.goods input{
	background-color: #fff;
    height: 20px;
    width: 20px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid #ddd;
    outline: 0;
    cursor: pointer;
    color: #666;
}
input:HOVER{
	cursor: pointer;
}
.goods-1 {
	height: 44px;
	background-color: #f7f7f7;
}



.goods-3 {
	height: 46px;
	background-color: #fff
}

.goods>div {
	border: 1px solid #0089dc;
}

.goods-1 span {
	font-size: 13px;
}

.goods-1 a {
	color: #0089dc;
	text-decoration: none;
	font-size: 12px;
}

body {
	background-color: #f7f7f7
}
.shops{
	height: 40px;
	background-color: #f7f7f7;
}
.goods-3-1{
	height: 46px;
	width: 200px;
	z-index: 2;
	background-color: #2c2c2c;
	box-shadow: 0 1px 3px #2c2c2c;
	line-height: 46px;
	cursor: pointer;
	color: #fff;
	font-size: 27px;
}
.goods-3-2{
	height: 46px;
	width: 118px;
	z-index: 2;
	background-color: #51d862;
	box-shadow: 0 1px 3px #2c2c2c;
	line-height: 46px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	position: relative;
	top:-46px;
	right: -200px;
}
.goods-3-2 span{
	/* display:block;
	padding: 0 auto; */
	
}
/*超出文本...显示*/
.zhong7-1 p{
 	width: 150px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block; 
}
 .shops span{
/* 	background-color: #fff;
	width: 150px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: block; */
} 

